body {
  background-color: lightgreen;
  text-transform: capitalize;
}

#pokedex-container {
  width: 350px;
  margin-left: auto;
  margin-right: auto;

  .pokedex-top {
    margin: auto;
    height: 150px;
    width: 300px;
    background-color: red;
    border: 1px solid black;
    border-bottom: 20px solid black;
    border-radius: 10px 10px 0 0;

    .toggle-container {
      height: 50px;
      width: 50px;
      background-color: white;
      position:absolute;
      margin-top:135px;
      margin-left: 125px;
      z-index: 10;
      border: 1px solid black;
      border-radius: 50px;

      #toggle-screen{
        height: 25px;
        width: 25px;
        border-radius: 25px;
        background-color: grey;
        margin-top:25%;
        margin-left: 25%;
        animation: blink 4s infinite;
      }
    }
  }
  .pokedex-bottom {
    margin: auto;
    height: 150px;
    width: 300px;
    background-color: white;
    border: 1px solid black;
    border-radius: 0 0 10px 10px;
  }

  #screen-container {
    margin: auto;
    height: 290px;
    width: 290px;
    border: 1px solid black;
    background-color: #AFE3EC;
    #window-screen {
      height: 80%;
      width: 90%;
      margin-left: auto;
      margin-right: auto;
      margin-top: 5%;
      #pokeball-container {
        height: 100%;
        text-align: center;
        img {
          width: 30%;
          margin: auto;
        }
      }
    }
    #buttons {
      margin-bottom: 0px;
    }
  }
}

.single-pokemon-div {
  height: 100%;
  .permanent-stats {
    text-align: center;
    h3 {
      text-align: center;
    }
    p {
      width: 25%;
      display: inline-block;
      margin: 5% 12.5%;
      text-align: center;
    }
    .ability-list {
      padding: 0;
      column-count: 2;
      list-style-type: none;
      .hidden-ability {
        font-style: italic;
        opacity: 0.5;
      }
    }
  }
  .pokemon-image-container {
    height: 100%;
    text-align: center;
    img {
      height: 100%;
    }
  }
}

.hidden {
  display: none;
}

@keyframes blink {
  0% { background: grey; }
  50% { background: #ff1a1a; }
  100% { background: grey; }
}
