body {
  background-color: lightgreen;
}

#pokedex-container {
  width: 350px;
  margin-left: auto;
  margin-right: auto;

  .pokedex-top {
    height: 150px;
    width: 300px;
    background-color: red;
    border: 1px solid black;
    border-radius: 10px 10px 0 0;

    .toggle-container {
      height: 50px;
      width: 50px;
      background-color: white;
      position:absolute;
      margin-top:125px;
      margin-left: 125px;
      z-index: 10;
      border: 1px solid black;
      border-radius: 50px;

      #toggle-screen{
        height: 25px;
        width: 25px;
        border-radius: 25px;
        background-color: grey;
        margin-top:25%;
        margin-left: 25%;
      }
    }
  }
  img {
    height: 30%;
    width: 30%;
    margin: 2.5%;
  }
  .pokedex-bottom {
    height: 150px;
    width: 300px;
    background-color: white;
    border: 1px solid black;
    border-radius: 0 0 10px 10px;
    margin-top: -10px;
  }
}

#screen-container {
  height: 50%;
  width: 50%;
}

#window-screen {
  height: 70%;
  width: 90%
}

.hidden {
  display: none;
}


