body {
  background-color: lightgreen;
}

#pokedex-container {
  width: 90%;
  height: 90%;
  border: 1px solid black;
  margin: 0 auto;
}

#screen-container {
  height: 50%;
  width: 50%;
}

#window-screen {
  height: 70%;
  width: 90%
}


#pokeball-container img {
  height: 30%;
  width: 30%;
  margin: 2.5%;
}


.hidden {
  display: none;
}